html {
    font-size: 62.5%;
    /** Reset para REMS - 62.5 = 10px de 16px*/
    box-sizing: border-box;
    background-image: url(../content.jpg);
    scroll-behavior: smooth;
}

body {
    font-family: 'Lemonada', cursive;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: rgb(196, 194, 191);
}

h2 {
    text-align: center;
    color: rgb(196, 194, 191);
}

@media (max-width:802px) {
    h1:first-of-type {
        display: none;
    }
}

li {
    margin: 0;
}

article {
    border-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

aside {
    border-radius: 2rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}


/** Header**/

.site-header {
    width: 5rem;
}

.site-header img {
    flex-direction: column-reverse;
    width: 1rem;
    align-self: center;
}

@media (max-width: 767px) {
    .site-header {
        font-size: 1.5rem;
    }
    .site-header img {
        width: 8rem;
        align-content: flex-start;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
}

header {
    position: static;
    width: 100%;
}

header nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #68543d;
}

.menu_bar a {
    display: none;
}

.btn-menu {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    justify-content: center;
}

@media (min-width: 802px) {
    header nav ul {
        display: flex;
    }
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #4e3a14a1;
}

section {
    padding: 20px;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .menu_bar {
        display: block;
        width: 100%;
    }
    .menu_bar .btn-menu {
        display: block;
        padding: 20px;
        background: #68543d;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}

nav ul {
    justify-self: center;
}


/**Menu hamburguessa**/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

@media (min-width:802px) {
    .menu-btn {
        display: none;
    }
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}


/* ANIMATION */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/**Container**/

.container {
    display: grid;
    position: static;
    text-align: center;
    color: rgb(194, 163, 142);
}

.container p {
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 20rem;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 2rem;
}

@media (max-width:768px) {
    .container p {
        font-size: 2rem;
        margin-top: 10rem;
    }
}

.centrado {
    position: absolute;
    top: 150rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .centrado {
        position: absolute;
        top: 190rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.content {
    display: flex;
    position: absolute;
}

.content img {
    max-width: 100%;
}

.parrafo {
    background-color: rgba(37, 28, 18, 0.699);
    padding: 5%;
    font-size: 2rem;
    border-radius: 14rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.formato {
    background-color: rgba(37, 28, 18, 0.699);
    color: rgb(194, 163, 142);
    font-size: 1.5rem;
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .con-sidebar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 3rem;
    }
    aside {
        flex: 0 0 calc(33.3% - 2rem);
    }
    article {
        flex: 0 0 calc(66.7% - 2rem);
    }
}


/**Sidebar*/

.sidebar {
    display: grid;
    justify-items: center;
}


/** Red social */

.social {
    display: flex;
    text-decoration: none;
    color: cornflowerblue;
    justify-content: center;
}

.social img {
    width: 4rem;
    padding-right: 1rem;
}